.main {
  padding: 1rem;
}

.list {
  padding-left: 2rem;
  list-style-type: decimal-leading-zero;
}

.listItem {
  padding-bottom: .25rem;
}

.dspHeader {
  display: flex;
  padding-bottom: 1rem;
}

.dspHeaderTitle {
  flex-grow: 1;
}

.dspHeaderBack {
  padding-left: 1rem;
}