.main {
  padding: 1rem;
}

.list {
  margin-top: .5rem;
  padding-left: 2rem;
  padding-top: 1rem;
  list-style-type: decimal-leading-zero;
  border-top: 1px solid var(--colorBack3);
}

.listItem {
  padding-bottom: .25rem;
}

.dspHeader {
  display: flex;
}

.dspHeaderTitle {
  flex-grow: 1;
}

.dspHeaderBack {
  padding-left: 1rem;
}

.dspType {
  font-size: 16px;
  color: var(--colorText2);
}

.dspPre {
  font-size: 14px;
}

.dspContent {
  margin-top: 2rem;
  border-top: 1px solid var(--colorBack3);
}

.link {
  color: var(--colorText2);
  font-size: 16px;
}