.plot canvas {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.plotHeader {
  display: flex;
}

.plotHeaderLeft {
  flex-grow: 1;
}

.plotHeaderRight {
  padding-left: 1rem;
}

.plotHeaderLink {
  color: var(--colorText2);
  font-size: 16px;
}

.plotHighlightMeta {
  font-size: 14px;
}